
header{
    height: 70px;
    /*box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15);*/
    /*background: aqua;*/
    /*border-bottom: black;*/
}
header .container{
    width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0  auto;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15);
    background: #C9AFBDF4;
    border-bottom: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*background: aqua;*/

}
.container{
    width: 1150px;
    margin: 0 auto;
}
.logo{
    height: 50px;
    margin-left: 10px;
    /*border-radius: 5px;*/
}
.profile{
    margin-right: 10px;
    color: darkmagenta;
}
/*.search{*/
/*    height: 20px;*/
/*    border: 1pz solid rebeccapurple;*/
/*    color: aqua;*/
/*}*/

.search {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 20px;
    /*margin: calc(259px / 2 - 65px / 4 - 130px / 2) 0;*/
}
.search input[type="text"] {
    width: calc(100% - 50px);
    padding-left: 5px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    border: 1px solid rebeccapurple;
}

.search input[type="submit"] {
    width: 50px;
    color: white;
    background: linear-gradient(180deg, #C9AFBDF4, rebeccapurple);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.products,
.add_product{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rebeccapurple;
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
    /*border: 1px solid black;*/
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.products:active,
.products:hover,
.add_product:active,
.add_product:hover{
    color: #C9AFBDF4;
    background: rebeccapurple;
    transition: .5s;
}



