*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15px;
}
.item{
    width: 250px;
    height: 400px;
    margin-top: 15px;
    padding: 10px;
    font-family:'Arial', sans-serif;
    /*border: 1px solid #1a1a1a;*/
    background: #D3C6CDF4;
    border-radius: 5px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15);
}
.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: #000;
    border-radius: 5px;
}
.item h3{
    margin: 2px 0;
    font-size: 20px;
    font-family: "Roboto Light";
    color:rebeccapurple;
}
.item p{
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    height: 10%;
    overflow: hidden;
}
.more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more_price{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}
.more a{
    color: #653c3c;
    text-decoration: none;
    padding: 7px 10px;
    /*border: 1px solid #C9AFBDF4;*/
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    background: #C9AFBDF4;
}
.more a:active,
.more a:hover{
    color: #EAE5E7F4;
    background: #9660B4FF;

}
